<html>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<head>
    <title>Country Controller</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
</head>
<body ng-app="myApp" class="ng-cloak">
<div class="container-fluid" ng-controller="CountryController as ctrl">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">Country Controller Panel </span></div>
        <div class="formcontainer">
            <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                <input type="hidden" ng-model="ctrl.country.id" />
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="countryname">Country Name</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.country.countryName" id="countryname" class="username form-control input-sm" placeholder="Enter Country name" required ng-minlength="3"/>
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.uname.$error.required">This is a required field</span>
                                <span ng-show="myForm.uname.$error.minlength">Minimum length required is 3</span>
                                <span ng-show="myForm.uname.$invalid">This field is invalid </span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="population">Population</label>
                        <div class="col-md-7">
                            <input type="number" ng-model="ctrl.country.population" id="population" class="form-control input-sm" placeholder="Enter Country Population"/>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="form-actions floatRight">
                        <input type="submit"  value="{{!ctrl.country.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                        <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">List of Countries </span></div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Country Name</th>
                    <th>Population</th>
                    <th width="100"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="c in ctrl.countries">
                    <td><span ng-bind="c.id"></span></td>
                    <td><span ng-bind="c.countryName"></span></td>
                    <td><span ng-bind="c.population"></span></td>
                    <td> <button type="button" ng-click="ctrl.edit(c.id)" class="btn btn-success custom-width">Edit</button></td>
                    <td><button type="button" ng-click="ctrl.remove(c.id)" class="btn btn-danger custom-width">Remove</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.js"></script>
<script src="app.js"></script>
<script src="country_service.js"></script>
<script src="country_controller.js"></script>
</body>
</html>